.navbar {
  color: white;
  cursor: pointer;
  background-color: #183178;
  width: 126px;
  border-radius: 10px;
  padding: 12px 24px 12px 24px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  display: inline-flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 10px;
}

.btn {
  color: black;
  position: relative;
  padding: 12px 24px 12px 32px;
  width: 96px;
  font-size: 15px;
}

.testclass {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  height: 56px;
  width: 100%;
  background-color: #f5f5f5;
}

.boardLeft {
  max-width: 210px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 0px;
}

.board {
  display: flex;
  width: 100%;
  height: 472px;
  background-color: #f5f5f5;
  border: 1px solid #0000;
  border-radius: 10px;
  margin-top: 16px;
  margin-bottom: 100px;
}

.boardRight {
  width: 100%;
  padding: 68px 16px;
}

.text {
  color: var(--Neutral-Text-Dark, #505673);
  font-size: 16px;
  font-style: normal;
  font-weight: 590;
  line-height: 24px; /* 150% */
}

.img {
  width: 116px;
  height: 116px;
  flex-shrink: 0;
  border-radius: 60px;
  border: 1px solid #c6cadc;
  object-fit: cover;
}

.topContent {
  display: flex;
  gap: 16px;
}

.bottomContent {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}

.layout {
  width: 116px;
  height: 116px;
  margin-top: 36px;

}

.uploadbtn {
  display: inline-flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 10px;
  margin-top: 8px;
}

.upload {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.paragraph {
  color: #227feb;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  cursor: pointer;
}

.border {
  width: 1px;
  height: 380px;
  flex-shrink: 0;
  background: #d9d9d9;
  position: relative;
  left: 20%;
  bottom: 43%;
}

.username {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  color: var(--Medium, #878ca8);
  font-size: 14px;
  font-style: normal;
  font-weight: 510;
  line-height: 20px; /* 142.857% */
}

.usernameactive{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  color: var(--Medium, #141A33);
  font-size: 14px;
  font-style: normal;
  font-weight: 510;
  line-height: 20px; /* 142.857% */
}

.inp {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  bottom: 123%;
  left: 22%;
}

.inp1 {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.inp2 {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  left: 447px;
  bottom: 88px;
}

.inp3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.wraper {
  display: flex;
  height: 48px;
  padding: 0px 24px;
  align-items: center;
  outline: none;
  gap: 8px;
  align-self: stretch;
  border-radius: 10px;
  border: 1px solid var(--Medium, #878ca8);
  background-color: transparent;
}

.wraper:disabled{
  border-color: #B9B9B9;
  color: #B9B9B9;

  &&::placeholder{
    color: #B9B9B9;
  }
}

.board_border{
  width: 1px;
  background: #D9D9D9;
  max-height: 380px;
  margin-top: 68px;
  margin-right: 12px;
  margin-left: 12px;
}

.wraperr {
  display: flex;
  width: 100%;
  height: 48px;
  padding: 0px 24px;
  align-items: center;
  outline: none;
  gap: 8px;
  background-color: transparent;
  align-self: stretch;
  border-radius: 10px;
  border: 1px solid;
}

.password {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  color: var(--Medium, #878ca8);
}

.passwordactive{
  color: #141A33;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  font-size: 14px;
  font-style: normal;
  font-weight: 510;
  line-height: 20px; /* 142.857% */
}

.change {
  width: 130px;
  height: 20px;
}

.psw {
  color: var(--Neutral-Text-Soft, #8990b9);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 125% */
  text-decoration-line: underline;
  cursor: pointer;
}

.save {
  width: 136px;
  height: 48px;
  margin-top: 20px;
  position: relative;
  left: 84%;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px, 24px, 12px, 24px;
  background-color: #183178;
  gap: 8px;
}

.btn1 {
  color: var(--Neutral-Lightest, #f5f6fa);

  /* Body/B2/Medium */
  font-size: 16px;
  font-style: normal;
  font-weight: 510;
  line-height: 24px;
  /* 150% */
}

.responsive {
  display: none;
}

.mobileWrapper{
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  margin-bottom: 50px;
  margin-top: 50px;
}

.mobileImage{
    width: 102px;
    height: 102px;
    object-fit: cover;
    border-radius: 50%;
}

.mobile_name{
  color: var(--Neutral-Text-Dark, #505673);
  font-size: 18px;
  font-style: normal;
  font-weight: 590;
  line-height: 28px; 
  margin-bottom: 26px;
  margin-top: 22px;
}

.mobileData{
  width:80%;
  display: flex;
  flex-direction: column;
}

.mobileItem{
  border-bottom: 1px solid #D9D9D9;
  margin: 10px;
}

.mobileEmailInput{
  background: transparent;
  outline: none;
  border: none;
  margin-bottom: 8px;
  color: var(--Darkest, #141A33);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; 

  &&::placeholder{
    color: var(--Darkest, #141A33);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
  }
}


.mobileFinInput{
  background: transparent;
  outline: none;
  border: none;
  margin-bottom: 8px;
  color: var(--Medium, #878CA8);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */

  &&::placeholder{
    color: var(--Medium, #878CA8);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
  }
}


.mobilePassInput{
  background: transparent;
  outline: none;
  border: none;
  margin-bottom: 8px;
  color: var(--Medium, #878CA8);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */

  &&::placeholder{
    color: var(--Medium, #878CA8);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
  }
}

@media only screen and (min-device-width: 0px) and (max-device-width: 1070px) {
  .wrapper{
    display: none !important;
  }
  .mobileWrapper{
    display: flex;
  }
  .board {
    display: none;
  }

  .responsive {
    display: inline-block;
    width: 353px;
    height: 932px;
  }

  .text {
    color: var(--Neutral-Text-Dark, #505673);
    /* Body/B2/Medium */
    font-size: 16px;
    font-style: normal;
    font-weight: 510;
    line-height: 24px;
    /* 150% */
  }

  .border {
    width: 276px;
    height: 1px;
    background: #d9d9d9;
    flex-shrink: 0;
    position: relative;
    top: 5px;
    left: 23px;
  }

  .borders {
    width: 276px;
    height: 1px;
    background: #eedede;
    flex-shrink: 0;
    position: relative;
    top: 12px;
    left: 23px;
  }

  .box {
    width: 321px;
    padding: 10px;
    position: relative;
    bottom: 9px;
    right: 13px;
  }

  .boxed {
    width: 321px;
    padding: 10px;
    position: relative;
    bottom: 9px;
    right: 13px;
  }

  .saved {
    color: var(--Neutral-Text-Dark, #505673);
    font-size: 17px;
    font-style: normal;
    font-weight: 510;
    line-height: 24px;
    margin-left: 44px;
  }
}

.wrapper {
  max-width: 1128px;
  width: 100%;
}

@media screen and (max-width: 1280px) {
    .wrapper{
      max-width: 900px;
    }
    .save{
      left: 78%;
    }
}