.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 0px 27px;
}

.head_title {
  color: #505673;
  font-size: 18px;
  font-style: normal;
  font-weight: 590;
  line-height: 28px;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  background: #fff;
  padding: 32px 32px 69px 32px;
}

.description {
  color: #505673;
  font-size: 14px;
  font-style: normal;
  font-weight: 510;
  line-height: 20px; /* 142.857% */
  padding-bottom: 12px;
  border-bottom: 1px solid #dadef2;
}

.change_password_form {
  max-width: 464px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 24px;
}

.error_item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 104px;
}

.error_item label {
  color: #e51a17;
  font-size: 14px;
  font-style: normal;
  font-weight: 510;
  line-height: 20px; /* 142.857% */
  margin-left: 16px;
}

.error_item input {
  height: 48px;
  color: #e51a17;
  outline: none;
  padding: 0px 24px;
  border-radius: 10px;
  border: 1px solid var(--Error, #e51a17);
}

.item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 104px;
}

.item label {
  color: #878ca8;
  font-size: 14px;
  font-style: normal;
  font-weight: 510;
  line-height: 20px; /* 142.857% */
  margin-left: 16px;
}

.item input {
  height: 48px;
  color: #878ca8;
  outline: none;
  padding: 0px 24px;
  border-radius: 10px;
  border: 1px solid var(--Error, #878ca8);
}

.form_end {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.form_end button {
  width: 140px;
  padding: 12px 24px;
  border-radius: 10px;
  background: var(--Primary-05, #183178);
  color: var(--Neutral-Lightest, #f5f6fa);
  font-size: 16px;
  font-style: normal;
  font-weight: 510;
  line-height: 24px; /* 150% */
}
