
.imgBody{
    width: 100%;
    display: flex;
    justify-content: center !important;
    align-items: center;
}

.uploadedImage {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    object-fit: cover;
}

.cardImage{
    position: relative;
}

.imageDelete{
    position: absolute;
    right: 10.5px;
    top: -7px;
}