.testclass {
    position: relative;
    bottom: 0px;
    padding: 10px;
    height: 56px;
    width: 1128px;
    background-color: #F5F5F5;
    left: 155px;
    top: 30px;
}

.navbar {
    position: relative;
    left: -3px;
    bottom: 6px;
    color: black;
    cursor: pointer;
    width: 126px;
    padding: 12px 24px 12px 24px;
    height: 48px;
}

.btn {
    height: 48px;
    color: white;
    /* background: red; */
    position: relative;
    top: -22%;
    left: 1%;
    background-color: #183178;
    /* padding: 10px 0px -18px; */
    padding: 12px 24px 12px 24px;
    border-radius: 10px;
    bottom: 40%;
    width: 96px;
    font-size: 15px;
}

.grid {
    display: flex;
    width:1158px;
    align-items: flex-start;
    gap: 24px;
    position: relative;
    z-index: -1;
    top: 83px;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 264px;
    padding-bottom: 260px;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 10px;
    row-gap: 115px;
    position: relative;
    left: 16%;
}

.box {
    width: 264px;
    height: 238px;
    flex-shrink: 0;
    border-radius: 10px 10px 0px 0px;
    background: #8D8D91;
}

.element {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    color: var(--White, #FFF);
    text-overflow: ellipsis;

    /* Body/C1/SemiBold */
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    /* 133.333% */
}

.elm {
    display: flex;
    width: 80px;
    padding: 6px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px 0px;
    background: #2F63F5;
}

.item {
    height:73px;
    display: flex;
    padding: 0px 8px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    width: 264px;
    top: 87%;
    background: #FFFFFF;
    position: relative;
    border-radius: 10px;
    z-index: -1;
}

.text {
width: 248px;
height: 28px;
display:flex;
align-items: center;
position: relative;
top: 10px;
left: 15px;
}

.paragraph {
    overflow: hidden;
    color: var(--Neutral-Text-Dark, #505673);
    text-overflow: ellipsis;
    /* Body/B1/Medium */
    font-family: "SF Pro";
    font-size: 18px;
    color: #505673;
    font-style: normal;
    font-weight: 510;
    line-height: 28px;
    /* 155.556% */
    flex: 1 0 0;
}
.paragraphh{
    overflow: hidden;
    color: var(--Neutral-Text-Soft, #8990B9);
    text-overflow: ellipsis;
    
    /* Body/B3/Medium */
    font-family: "SF Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 510;
    line-height: 20px; /* 142.857% */
}