.titleContainer {
  left: 0;
  right: 0;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1128px !important;
  display: flex;
  justify-content: space-between;
  gap: 36px 24px;
  margin-top: 24px;
  padding-bottom: 60px;
}
.px{
    display: grid;
    grid-template-columns: auto auto auto auto;
    max-width: 1128px;
    margin-right: auto;
    margin-left: auto;
}
