/* Popular.module.css */
.widhtLimitContainer {
  margin-right: auto;
  margin-left: auto;
}

.widhtLimitContainerLarge {
  margin-right: auto;
  margin-left: auto;
  left: 0;
  right: 0;
}

.sliderContainer {
  position: relative;
  margin-top: -116px;
  z-index: 6;
  border-radius: 30px;
  padding: 36px 88px 100px 88px;
  background: #f9f8fc;
}

.title {
  display: flex;
  padding: 0 15px;
  justify-content: space-between;
}

.title h1 {
  color: var(--Neutral-Text-Dark, #505673);
  font-size: 24px;
  font-style: normal;
  font-weight: 590;
  line-height: 32px; /* 133.333% */
}

.arrowContainer {
  display: flex;
  gap: 32px;
  align-items: end;
}

.arrowContainer img {
  cursor: pointer;
}
.arrowContainer img:hover {
  opacity: 0.7;
  transition: 0.2s;
  transition-timing-function: linear;
}

.slider {
  margin-top: 24px;
}

.customArrowRight,
.customArrowLeft {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.3s;
}

.customArrowRight.disabled,
.customArrowLeft.disabled {
  opacity: 0.3;
  pointer-events: none;
}

.customArrow {
  border: 1px solid #505673;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1080px) {
  .widhtLimitContainer {
    max-width: 1120px !important;
  }

  .widhtLimitContainerLarge {
    max-width: 1440px !important;
  }
}

@media (max-width: 1080px) {
  .widhtLimitContainer {
    display: none;
  }
}
