.widhtLimit {
    margin-right: auto;
    margin-left: auto;
    left: 0;
    right: 0;
  }
  
  .rightNav a{
    display: flex;
  }
  
  .user_body {
    position: relative;
  }
  
  .user_menu {
    position: absolute;
    display: flex;
    gap: 12px;
    flex-direction: column;
    left: -45px;
    padding: 16px;
    font-weight: 400;
    background-color: #fff;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.07);
    border: solid 1px #D9D9D9;
    border-radius: 8px;
    z-index: 999;
    width: 177px;
    height: auto;
    top: 37px;
  }
  
  .logout_button{
    box-sizing: border-box;
    color: #fff;
    background-color: #F5BD2F;
    width: 100%;
    height: 34px;
    line-height: 34px;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    border-radius: 6px;
  }
  
  .userAccontTitle{
    box-sizing: border-box;
    color: #666;
    border: solid 1px #dedede;
    width: 100%;
    height: 34px;
    line-height: 34px;
    text-align: center;
    cursor: pointer;
    font-weight: 500;
    border-radius: 6px;
    font-size: 14px;
  }
  
  
  .headerContainer {
    display: flex;
    width: 100%;
    height: 480px;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .headerContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0.4) 100%);
    z-index: 1;
  }
  
  .wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
  }
  
  .headerContainer img {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
    object-fit: cover;
  }
  
  .navbar {
    display: flex;
    margin-top: 36px;
    justify-content: space-between;
    max-width: 1128px !important;
    left: 0;
    right: 0;
  }
  
  .leftLogo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .leftLogo a {
    display: flex;
    color: var(--Neutral-Lightest, #f5f6fa);
    font-size: 24px;
    font-style: normal;
    font-weight: 590;
    line-height: 32px;
    transition: 0.2s;
    transition-timing-function: linear;
  }
  
  .leftLogo a:hover {
    color: #f5bd2f;
  }
  
  .leftLogo a::after {
    content: "";
    position: relative;
    left: 0;
    bottom: 0;
    border-bottom: 2px solid rgb(255, 255, 255, 0);
    display: flex;
    justify-content: center;
    width: (calc(100% + 40px));
    margin-top: 2px;
    transition: 0.1s;
    transition-timing-function: linear;
    /* margin-top: 5px; */
    z-index: 5;
    bottom: 4px;
    overflow: hidden;
  }
  
  .leftLogo a:hover::after {
    border-bottom: 2px solid #f5bd2f;
  }
  
  .rightNav {
    display: flex;
    padding: 24px;
    align-items: center;
    gap: 48px;
  }
  
  .rightNav button {
    display: flex;
    height: 36px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: var(--Primary-05, #183178);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    border-radius: 10px;
    background: var(--Secondary-05, #f5bd2f);
    transition: 0.2s;
    transition-timing-function: linear;
  }
  
  .rightNav button:hover {
    background: var(--Secondary-05, #f5d52f);
  }
  
  .rightNav a {
    display: flex;
    color: var(--Neutral-Lightest, #f5f6fa);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    transition: 0.2s;
    transition-timing-function: linear;
  }
  
  .rightNav a:hover {
    color: #f5bd2f;
  }
  
  .rightNav a::after {
    content: "";
    position: relative;
    left: 0;
    bottom: 0;
    border-bottom: 2px solid rgb(255, 255, 255, 0);
    display: flex;
    justify-content: center;
    width: (calc(100% + 40px));
    margin-top: 2px;
    transition: 0.1s;
    transition-timing-function: linear;
    /* margin-top: 5px; */
    z-index: 5;
    bottom: 4px;
    overflow: hidden;
  }
  
  .rightNav a:hover::after {
    border-bottom: 2px solid #f5bd2f;
  }
  
  .languageDivar {
    display: flex;
    gap: 8px;
    align-items: center;
    color: var(--Neutral-Lightest, #f5f6fa);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;
  }
  
  .content {
    position: absolute;
    top: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .desc {
    text-align: center;
    color: var(--White, #f5f5f5);
    font-size: 46px;
    font-style: normal;
    font-weight: 590;
    line-height: 56px;
    margin-top: 165px;
    margin-right: 14px;
  }

  .main {
    margin-top: 100px;
  }
  .container {
    width: 1440px;
    max-width: 100%;
    background: var(--Neutral-Background, #F0EFF5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 13px 16px 13px 0px;
  }
  .text {
    color: var(--Primary-04, #3B5191);
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-family: "Poppins";
    font-weight: 590;
    line-height: 56px;
  }
.textt {
  color: var(--Neutral-Darkest, #141A33);
  text-align: center;
  font-family: "SF Pro";
  font-size: 32px;
  font-style: normal;
  font-weight: 590;
  line-height: 40px; 
}
.texts{
  color: var(--Neutral-Text-Dark, #505673);
  text-align: center;
  font-family: "SF Pro";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  padding: 0px 17px 10px 66px;
}
@media (min-width:360px) and (max-width:768px) {
  .navbar {
    display: none;
  }
}
@media (min-width:320px) and (max-width:768px){
  .wrapper{
    margin-bottom: 0px;
  }
  .headerContainer {
    display: flex;
    width: 100%;
    height: 173px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.25) 100%);
  }
  .desc {
    width: 342px;
    flex-shrink: 0;
    color: var(--White, #fff);
    text-align: center;
    font-family: "Poppins";
    font-size: 20px !important;
    font-style: normal;
    font-weight: 590;
    line-height: 28px;
    margin-top: 65px;
  }
  .main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: -20%;
  }
  .text{
    color: var(--Neutral-Darkest,#3B5191 );
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 590;
    line-height: 32px;
  }
  .textt{
    color: var(--Neutral-Darkest, #141A33);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 590;
    line-height: 32px; 
  }
  .texts{
    padding: 3px;
  }
  .contents{
      padding: 0px 40px;
  }
  .container{
    background: var(--Neutral-Background, #FFF);
  }
}

@media screen and (max-width: 1300px) {

    .rightNav a{
      font-size: 14px;
    }

    .desc{
      font-size: 38px;
    }
}