.wrapper {
  width: 100%;
  padding-left: 13px;
}

.wrapper div {
  justify-content: start;
}

.wrapper .container {
  padding: 0px !important;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 32px;
  border-radius: 2px;
  background: #fff;
  margin-left: 15px;
}

.top ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style-type: disc;
  padding-left: 23px;
}

.top ul li {
  color: #e58117;
  font-size: 16px;
  font-style: normal;
  font-weight: 510;
  line-height: 24px; /* 150% */
}

.photos_body {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 24px;
}

.head_title {
  color: #505673;
  font-size: 18px;
  font-style: normal;
  font-weight: 590;
  line-height: 28px; /* 155.556% */
}

.photos_body input {
  display: none;
}

.photos_body .uploadDiv {
  width: 100%;
  padding: 30px 44px;
  border-radius: 10px;
  border: 1px dashed #8990b9;
  background: #f0eff5;
  cursor: pointer;
  position: relative;
  min-height: 208px;
}

.photos_body .uploadLabel {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.photos_body .center {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: center;
}

.photos_body .center p {
  color: #2151d9;
  font-size: 16px;
  font-style: normal;
  font-weight: 510;
  line-height: 24px; /* 150% */
  padding: 12px 24px;
  margin-bottom: 4px;
}

.photos_body nav ul {
  width: max-content;
  display: flex;
  flex-direction: column;
  list-style-type: disc;
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%, 0%);
}

.photos_body nav ul li {
  color: #8990b9;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.selectedImages {
  width: 100%;
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(6, 1fr);
}

.uploadedImage {
  width: 120px;
  height: 120px;
  border-radius: 10px;
  object-fit: cover;
}

.addImageButton {
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4px;
  border-radius: 10px;
  background: #e1e1e1;

  color: #505673;
  font-size: 12px;
  font-style: normal;
  font-weight: 510;
  line-height: 16px; /* 133.333% */
}

.imageWrapper {
  position: relative;
  display: flex;
  justify-content: center !important;
}

.indicators {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 32px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.grid div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.grid div select {
  width: 100%;
  height: 48px;
  border-radius: 10px;
  border: 1px solid #878ca8;
  padding: 0px 24px 0px 24px;
  color: #505673;
  outline: none;
  background: url("../../../assets/icons/arrow/select.svg") no-repeat right 24px
    center;
  background-size: 24px 24px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.grid div label {
  color: #878ca8;
  font-size: 14px;
  font-style: normal;
  font-weight: 510;
  line-height: 20px; /* 142.857% */
  margin-left: 16px;
}

.vin_code_input {
  width: 100%;
  height: 48px;
  border-radius: 10px;
  border: 1px solid #878ca8;
  padding: 0px 24px;
  outline: none;
}

.vin_code_title {
  color: #e58117;
  font-size: 16px;
  font-style: normal;
  font-weight: 510;
  line-height: 24px; /* 150% */
  margin-bottom: -24px;
}

.vin_code_item {
  display: flex;
  align-items: self-start;
  justify-content: center !important;
}

.note {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 8px;
}

.note label {
  color: #878ca8;
  font-size: 14px;
  font-style: normal;
  font-weight: 510;
  line-height: 20px; /* 142.857% */
  margin-left: 16px;
}

.note textarea {
  min-height: 126px;
  padding: 12px 24px;
  border-radius: 10px;
  border: 1px solid #878ca8;
  outline: none;
}

.supply {
  margin-top: 24px;
  margin-bottom: 72px;
}

.checkbox_container {
  margin-top: 16px;
  width: 100%;
  padding: 32px;
  border-radius: 2px;
  border: 1px solid #8990b9;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.checkbox_container input[type="checkbox"] {
  display: none;
}

.checkbox_container input[type="checkbox"] + label {
  display: inline-block;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("../../../assets/icons/check/simple.svg");
}

.checkbox_container input[type="checkbox"]:checked + label {
  background-image: url("../../../assets/icons/check/check.svg");
}

.checkbox_item {
  display: flex;
  gap: 4px;
}

.custom_label {
  color: var(--Neutral-Text-Dark, #505673);
  font-family: "SF Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
}

.add_button {
  border-radius: 10px;
  background: var(--Primary-05, #183178);
  padding: 12px 24px;
  color: var(--Neutral-Lightest, #f5f6fa);
  font-size: 16px;
  font-style: normal;
  font-weight: 510;
  line-height: 24px; /* 150% */
}

.bottom {
  display: flex;
  justify-content: flex-end !important;
}

.remove_button {
  position: absolute;
  right: 13px;
  top: -8px;
}
