.widhtLimitContainer {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.widhtLimitContainerLarge {
  margin-right: auto;
  margin-left: auto;
  left: 0;
  right: 0;
  background: var(--Primary-05, #183178);
  position: fixed;
  z-index: 30;
}

.headerContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background: var(--Primary-05, #183178);
  height: 56px;
}

.rightNav {
  display: flex;
  align-items: center;
  gap: 48px;
}

.rightNav button {
  display: flex;
  height: 36px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: var(--Primary-05, #183178);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  border-radius: 10px;
  background: var(--Secondary-05, #f5bd2f);
  transition: 0.2s;
  transition-timing-function: linear;
}

.rightNav button:hover {
  background: var(--Secondary-05, #f5d52f);
}

.rightNav a {
  color: var(--Neutral-Lightest, #f5f6fa);
  font-size: 16px;
  font-style: normal;
  font-weight: 510;
  line-height: 24px;
  cursor: pointer;
  transition: 0.1s;
  transition-timing-function: linear;
}

.headerContainer > a {
  color: var(--Secondary-05, #f5bd2f);
  font-size: 24px;
  font-style: normal;
  font-weight: 590;
  line-height: 32px;
  margin-left: 24px;
  transition: 0.1s;
  transition-timing-function: linear;
}

.headerContainer a:hover {
  color: var(--Secondary-05, #f5bd2f);
}
.headerContainer a::after {
  content: "";
  position: relative;
  left: 0;
  bottom: 0;
  border-bottom: 2px solid rgb(255, 255, 255, 0);
  display: flex;
  justify-content: center;
  width: (calc(100% + 40px));
  margin-top: 2px;
  transition: 0.1s;
  transition-timing-function: linear;
  /* margin-top: 5px; */
  z-index: 5;
  bottom: 4px;
  overflow: hidden;
}
.headerContainer a:hover::after {
  border-bottom: 2px solid #f5bd2f;
}

.language {
  display: flex;
  gap: 8px;
  color: var(--Neutral-Lightest, #f5f6fa);
  font-size: 16px;
  font-style: normal;
  font-weight: 510;
  line-height: 24px;
  cursor: pointer;
  position: relative;
}

.wrapperMobile {
  position: fixed;
  z-index: 28;
  background-color: #fff;
  border-bottom: 0.4px solid #b3b3b3;
  width: 100%;
}




@media (min-width: 1080px) {
  .widhtLimitContainer {
    max-width: 1128px;
  }
}

@media (max-width: 1080px) {
}

@media (max-width: 468px) {
}

.notificationBody {
  position: relative;
  cursor: pointer;
}

.notification_box {
  position: absolute;
  width: 440px;
  position: absolute;
  background-color: #f5f6fa;
  border-radius: 10px;
  right: -150px;
  top: 45px;
}

.top {
  display: flex;
  justify-content: center;
  padding: 12px;
  color: #183178;
  font-size: 16px;
  font-style: normal;
  font-weight: 590;
  line-height: 24px; /* 150% */
}

.border {
  width: 100%;
  height: 1px;
  background: #dadef2;
}

.items {
  display: flex;
  flex-direction: column;
  padding: 0px 12px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 12px 0px;
  border-bottom: 1px solid #dadef2;
}

.item_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item_left {
  color: #141a33;
  font-size: 16px;
  font-style: normal;
  font-weight: 510;
  line-height: 24px; /* 150% */
}

.item_right {
  color: #8990b9;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.bottom {
  max-width: 336px;
  width: 100%;
  color: #878ca8;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.item:last-child {
  border-bottom: none;
}

.user_body {
  position: relative;
}

.user_menu {
  position: absolute;
  background: #f5f6fa;
  padding: 0px 12px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  top: 37px;
  left: -30px;
  z-index: 1012120;

}

.user_menu p {
  color: var(--Neutral-Text-Dark, #505673);

  /* Body/B2/Medium */
  font-family: "SF Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 510;
  line-height: 24px; /* 150% */
  padding: 12px 24px;
  width: 100%;
  white-space: nowrap;
  cursor: pointer;
}
.cont{
  position: absolute;
  top: 101%;
  left: 56%;
}
.frame{
   display: flex;
  width: 175px;
  height: 114px;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  flex-shrink: 0;
  border-radius: 10px; 
}