@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.cdnfonts.com/css/sf-pro-display");

@font-face {
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

.card {
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border-radius: 10px;
  background: #fff;
  padding-bottom: 16px;
  transition: 0.2s;
  transition-timing-function: linear;
  cursor: pointer;
}
.card:hover {
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.06);
}

.img {
  width: 100%;
  height: 40vw;
  position: relative;
}

.bottomContent {
  padding: 0 8px;
}

.bottomContent h1 {
  max-width: 230px;
  width: 100%;
  overflow: hidden;
  color: var(--Neutral-Text-Dark, #505673);
  text-overflow: ellipsis;
  font-size: 18px;
  font-style: normal;
  font-weight: 510;
  line-height: 28px;
  overflow-x: scroll;
  white-space: nowrap;

  &&::-webkit-scrollbar {
    display: none;
  }
}

.bottomContent h2 {
  max-width: 230px;
  width: 100%;
  overflow: hidden;
  margin-top: 4px;
  overflow: hidden;
  color: var(--Neutral-Text-Soft, #8990b9);
  text-overflow: ellipsis;
  font-size: 14px;
  font-style: normal;
  font-weight: 510;
  line-height: 20px;
  overflow-x: scroll;
  white-space: nowrap;
  &&::-webkit-scrollbar {
    display: none;
  }
}

.bottomContent h3 {
  overflow: hidden;
  color: var(--Neutral-Text-Soft, #8990b9);
  text-overflow: ellipsis;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin-top: 4px;
}

.price {
  display: flex;
  width: fit-content;
  padding: 6px 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px 0px;
  background: #2f63f5;
  position: absolute;
  top: 0;
  overflow: hidden;
  color: var(--White, #f5f5f5);
  text-overflow: ellipsis;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 133.333% */
  left: 0;
}

.fav {
  display: flex;
  width: 28px;
  height: 28px;
  padding: 4px;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 4px;
  right: 4px;
}

.fav_disabled {
  position: absolute;
  top: 4px;
  right: 4px;
}

@media screen and (min-width: 1080px) {
  .img {
    max-height: 238px;
  }
}
@media screen and (max-width: 1080px) {
  .price {
    top: 8px;
    left: 8px;
    border-radius: 10px;
  }

  .fav {
    top: 8px;
    right: 8px;
  }

  .fav_disabled{
    top: 8px;
    right: 8px;
  }

  .card {
    min-width: -webkit-fill-available;
    background: var(--Neutral-Background, #f0eff5);
    padding-bottom: 8px;
    gap: 8px;
  }
  .img {
    max-height: 288px;
  }
  .img img {
    width: 100%;
  }
  .card h1{
    max-width: 100%;
    overflow-x: scroll;
  }
  .bottomContent{
    width: 100%;
  }
}



.totalPrice {
  display: flex;
  overflow: hidden;
  color: #e51a17;
  text-overflow: ellipsis;
  font-size: 18px;
  font-style: normal;
  font-weight: 510;
  line-height: 28px; /* 155.556% */
}


@media screen and (max-width: 992px) {
  .totalPrice {
    display: flex;
    overflow: hidden;
    color: #e51a17;
    text-overflow: ellipsis;
    font-size: 16px !important;
    font-style: normal;
    font-weight: 510;
    line-height: 28px; /* 155.556% */
  }
}