.wrapper {
  padding: 0px 0px 0px 24px;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add_product_button {
  display: flex;
  border-radius: 32px;
  border: 1px solid #d9d9d9;
  padding: 8px 16px;
}

.card div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card img {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.add_product_button span {
  color: var(--Neutral-Text-Dark, #505673);
  font-size: 14px;
  font-style: normal;
  font-weight: 510;
  line-height: 20px; /* 142.857% */
}

.filter_title {
  color: var(--Neutral-Text-Dark, #505673);

  /* Body/B1/Semibold */
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 155.556% */
}

.top {
  display: flex;
  justify-content: space-between;
}

.filterBody {
  display: flex;
  align-items: center;
  gap: 9px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  width: 100%;
  margin-top: 36px;
}

.card {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 8px 8px 12px 8px;
  cursor: pointer;

  &&:hover {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.25);
  }
}

.name {
  color: var(--Neutral-Text-Dark, #505673);
  font-size: 14px;
  font-style: normal;
  font-weight: 590;
  line-height: 20px; /* 142.857% */
  margin-top: 12px;
  margin-bottom: 4px;
  text-align: left;
}

.history {
  color: var(--Neutral-Text-Soft, #8990b9);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  margin-bottom: 4px;
}

.seenCount {
  color: var(--Neutral-Text-Soft, #8990b9);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.crudBody {
  max-width: 152px;
  display: flex;
  flex-direction: column;
  gap: 13px;
  position: absolute;
  left: 50%;
  right: 50%;
  top: 72px;
  transform: translate(-50%, 0%);
  z-index: 11;
}

.editButton {
  padding: 8px 40px;
  border-radius: 16px;
  background: #2151d9;
  color: var(--White, #fff);

  /* Body/C1/Medium */
  font-size: 12px;
  font-style: normal;
  font-weight: 510;
  line-height: 16px; /* 133.333% */
}

.deleteButton {
  border-radius: 16px;
  background: var(--Neutral-Lightest, #f5f6fa);
  padding: 8px 33px 8px 32px;
  color: var(--Neutral-Text-Dark, #505673);

  /* Body/C1/Medium */
  font-size: 12px;
  font-style: normal;
  font-weight: 510;
  line-height: 16px; /* 133.333% */
}

.deletemodal {
  background: rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 50%;
  left: 50%;
  right: 50%;
  bottom: 50%;
  z-index: 32132;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px 16px;
  border-radius: 10px;
  background: var(--Neutral-Lightest, #f5f6fa);
}

.deleteTitle {
  color: var(--Neutral-Text-Dark, #505673);

  /* Heading/H4 */
  font-size: 20px;
  font-style: normal;
  font-weight: 590;
  line-height: 28px; /* 140% */
}

.description {
  max-width: 268px;
  margin-top: 16px;
  margin-bottom: 24px;
  color: var(--Neutral-Text-Dark, #505673);
  text-align: center;

  /* Body/B3/Regular */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.deleteButtonModal {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #c10d0c;
  padding: 12px 24px;
  color: var(--Neutral-Lightest, #f5f6fa);

  /* Body/B2/Medium */
  font-size: 16px;
  font-style: normal;
  font-weight: 510;
  line-height: 24px; /* 150% */
  margin-bottom: 12px;
}

.cancelButtonModal {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid var(--Primary-05, #183178);
  padding: 12px 24px;
  color: var(--Neutral-Text-Dark, #505673);
  font-size: 16px;
  font-style: normal;
  font-weight: 510;
  line-height: 24px; /* 150% */
}

.mobileCrudButton{
  display: none;
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.75);
}

@media screen and (max-width: 1260px) {
    .cards{
      grid-template-columns: repeat(3,1fr);
    }

    .top{
      display: none;
    }

    .header{
      justify-content: flex-end;
    }

    .crudBody{
      display: none !important;
    }

    .mobileCrudButton{
      display: flex !important;
    }

}

@media screen and (max-width: 850px) {
  .cards{
    grid-template-columns: repeat(2,1fr);
    gap: 16px;
    row-gap: 24px;
  }

  .wrapper{
    padding: 16px;
  }
}