.wrapper {
  padding: 0px 0px 0px 24px;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add_product_button {
  display: flex;
  border-radius: 32px;
  border: 1px solid #d9d9d9;
  padding: 8px 16px;
}

.add_product_button span {
  color: var(--Neutral-Text-Dark, #505673);
  font-size: 14px;
  font-style: normal;
  font-weight: 510;
  line-height: 20px; /* 142.857% */
}

.filter_title {
  color: var(--Neutral-Text-Dark, #505673);

  /* Body/B1/Semibold */
  font-family: "SF Pro";
  font-size: 18px;
  font-style: normal;
  font-weight: 590;
  line-height: 28px; /* 155.556% */
}

.top {
  display: flex;
  justify-content: space-between;
}

.filterBody {
  display: flex;
  align-items: center;
  gap: 9px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  width: 100%;
  margin-top: 36px;
}

.card {
  width: fit-content;
  display: flex;
  flex-direction: column;
  padding: 8px 8px 12px 8px;
  cursor: pointer;

  &&:hover {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.25);
  }
}

.name {
  color: var(--Neutral-Text-Dark, #505673);
  font-size: 14px;
  font-style: normal;
  font-weight: 590;
  line-height: 20px; /* 142.857% */
  margin-top: 12px;
  margin-bottom: 4px;
  text-align: left;
}

.history {
  color: var(--Neutral-Text-Soft, #8990b9);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  margin-bottom: 4px;
}

.seenCount {
  color: var(--Neutral-Text-Soft, #8990b9);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}
