.mobileHeaderSecond {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 66px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  background: white;
  margin-top: -1px;
  z-index: 10000;
  border-bottom: 0.4px solid #b3b3b3;
}
.mobileSearchInput {
  width: 100%;
  background-color: rgba(118, 118, 128, 0.12);
  border-radius: 10px;
  background: var(--Fills-Tertiary, rgba(118, 118, 128, 0.12));
  padding: 7px 8px;
  display: flex;
  gap: 3px;
  align-items: flex-start;
}

.mobileSearchInput input {
  background: none;
  width: 100%;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.4px;
}

.mobileSearchInput input::placeholder {
  color: var(--Labels-Secondary, rgba(60, 60, 67, 0.6));
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.4px;
}

.mobileSearchInput input:focus {
  box-shadow: none;
  outline: none;
}
