.wrapper {
  margin-top: 24px;
  padding-right: 15px;
  padding-left: 15px;
}
.wrapper > h1 {
  color: var(--Neutral-Text-Dark, #505673);
  font-size: 36px;
  font-style: normal;
  font-weight: 590;
  line-height: 24px;
}

.list {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px 20px;
}

@media (min-width: 1080px) {
  .wrapper {
    display: none;
  }
  
}

@media (max-width: 1080px) {
  .wrapper > h1 {
    font-size: 28px;
  }

  .wrapper{
    margin-top: 0px !important;
  }
}
@media (max-width: 769px) {
  .wrapper > h1 {
    font-size: 16px;
  }
}
